
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 24px;
}
/* Custom scrollbar for cuteness */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fff5f9;
}
::-webkit-scrollbar-thumb {
    background: #ee2b8c;
    border-radius: 99px;
}
